---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import '../styles/global.css'
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <Header />
    <h1>Hello, World!</h1>
    <Footer />
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>
